/* start variables */
    :root{
        --main_color:#19C8FA;
        --section-padding:100px;
    }
/* end variables */
/* start global rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family:  "Open Sans", sans-serif;
    
}

.container{
    padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px){
    .container{
        width: 700px;
    }
}


/* medium */
@media (min-width:992px){
    .container{
        width: 900px;
    }
}

/* large */
@media (min-width:1200px){
    .container{
        width: 1100px;
    }
}
/* end global rules */
/* start components */
.heading{
    text-align: center;
    
}
.heading h2::before{
    content:" ";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    background-color: white;
    z-index: 2;
}
.heading h2 {
    display: inline-block;
    color: black;
    position: relative;
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: normal;
}
.heading h2::after {
    content:" ";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: black;
    bottom:-30px;
    left:50%;
    transform: translateX(-50%);
}
.heading p{
    max-width: 100%;
    width: 500px;
    margin: 0 auto 100px;
}
/* end components */

/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    
}
header .container::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    left: 15px;
    background-color: #a7a7a7;
}

header .container .logo a img{
    height: 40px;
}

header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
header .container nav .toggle-menu{
    font-size: 22px;
    color: white;
}
@media(min-width:768px){
    header .container nav .toggle-menu{
        display: none;
    }
}
header .container nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    list-style: none;
    
}
@media(max-width:768px){
    header .container nav ul{
        display: none;
    }
    header .container nav .toggle-menu:hover + ul{
        display: flex;
        position: absolute;
        top: 100%;
        flex-direction: column;
        align-items: normal;
        width: 100%;
        left: 0;
        background-color: rgb(0 0 0 / 50%);
    }
    header .container nav .toggle-menu:hover + ul li a{
        padding: 15px;
    }
}

header .container nav ul .active,
header .container nav ul a:hover {
    color: var(--main_color);
    border-bottom: 1px solid var(--main_color);
}
header .container nav ul a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;

}

header .container nav .form {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .container nav .form i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    cursor: pointer;
    transition: .3s;
    &:hover{
        color: var(--main_color);
    }
}
/* end header */
/* start landing */
.landing{
    min-height: 100vh;
    background-image: url(../image/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color:#126983b4 ;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:768px) {
    .landing .text{
        width: 100%;
        justify-content: center;
        
    }   
}

.landing .text .content{
    width: 60%;
}
.landing .text .content h1{
    color: white;
    line-height: 1.6;
    font-size: 30px;
    font-weight: normal;
}
.landing .text .content p{
    color: white;
    line-height: 1.9;
    font-size: 14px;
}
@media (max-width:1024px) {
    .landing .text .content h1{
        font-size: 20px;
    }
    .landing .text .content p{
        font-size: 12px ;
    }
    
}

.landing i:nth-of-type(1){
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: 0.3s;
}
.landing i:nth-of-type(2){
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: 0.3s;
}
.landing i:hover{
    color: var(--main_color);
    cursor: pointer;
}
.landing .bullets{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    justify-content: space-between;
    list-style: none;

}
.landing .bullets li{
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.landing .bullets li.active{
    background-color: var(--main_color);
}
/* end landing */
/* start services */
.services{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

@media(min-width:768px){
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
        row-gap: 40px;
        column-gap: 80px;
    }
}
.services .service {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}
@media(max-width:767px){
    .services .service {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
}

.services .service h3{
    color: var(--main_color);
    margin-bottom: 20px;
}
.services .service p{
    line-height: 1.8;

}
/* end services section */
/* start future section */
.future{
    position: relative;
    background-image: url(../image/design-features.jpg);
    background-size: cover;
    min-height: 70vh;
    overflow: hidden;
}

.future .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.future  figure{
    position: absolute;
    left: 25%;
    bottom: -60px;
    transform: translateX(-50%);
}
@media(max-width:768px){
    .future  figure{
        display: none;
    }
}

.future .text{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color:#126983b4 ;
    width: 50%;
    padding: 30px 50px;
    display: flex;
    justify-content: flex-start;
}
@media (max-width:768px) {
    .future .text{
        width: 100%;
        justify-content: center;
        
    }   
}

.future .text .content{
    width: 75%;
}
.future .text .content h2{
    color: white;
    line-height: 1.6;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
}
.future .text .content ul{
    list-style: none;
    margin-top: 40px;
}
.future .text .content ul li{
    display: flex;
    gap: 15px;
    margin-bottom: 35px;
}
.future .text .content ul li i ,
.future .text .content ul li p{
    color: white;
    font-size: 17px;
}

@media (max-width:1024px) {
    .future .text .content h2{
        font-size: 20px;
    }
}
/* end future section */
/* start Portfolio section */
.portfolio{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    
}

.portfolio ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.portfolio ul li{
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.3s;
    padding: 10px 15px;
}
.portfolio ul li.active,
.portfolio ul li:hover{
    background-color: var(--main_color);
    color: white;
}
.portfolio .portfolio-content{
    display:flex;
    flex-wrap: wrap;
}
.portfolio .portfolio-content figure{
    width: calc(100% / 4);
    overflow: hidden;
    position: relative;
}
@media (max-width:768px) {
    .portfolio .portfolio-content figure{
        width: calc(100% / 2);
    }
}
@media (max-width:425px) {
    .portfolio .portfolio-content figure{
        width: 100%;
    }
}
.portfolio .portfolio-content figure img{
    width: 100%;
    transition: 0.3s;

}
.portfolio .portfolio-content figure:hover img{
    transform: scale(1.1) rotate(5deg);
}
.portfolio .portfolio-content figure .slider{
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 20px;
    transition: 0.3s;
    background-color: white;
    width: 100%;
}
.portfolio .portfolio-content figure:hover .slider{
    bottom: 0;
}
.portfolio .portfolio-content figure .slider p:nth-of-type(1){
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.portfolio .portfolio-content figure .slider p:nth-of-type(2){
    font-size: 14px;
    color: var(--main_color);
}
.portfolio button{
    margin: 50px auto ;
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main_color);
    color: white;
    border: none;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}
/* end Portfolio section */
/* start video section */
.video-section{
    position: relative;
    
}
.video-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.video-section video{
    max-width: 100%;
}

.video-section .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color:#126983b4 ;
    width: 100%;
    padding: 50px;
}
@media (max-width:425px) {
    .video-section .text{
        padding: 20px 50px;
    }
}
.video-section .text .content{
    text-align: center;
}
.video-section .text .content h2,
.video-section .text .content p,
.video-section .text .content a{
    color:white;
}
.video-section .text .content h2{
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase ;
}
.video-section .text .content p{
    margin-bottom: 30px;
    font-size: 18px;
}

.video-section .text .content a{
    text-decoration: none;
    
    padding: 10px 20px;
    background-color: black;
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width:425px) {
    .video-section .text .content h2{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .video-section .text .content p{
        font-size: 12px;
        margin-bottom: 15px;
    }
    .video-section .text .content a{
        font-size: 12px;
        padding: 5px 15px;
    }
}
/* end video section */
/* start about us section */
.about{
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}
.about .container figure img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;

}
@media (max-width:768px) {
    .about .container figure img{
        bottom: -60px;
        margin-top: -60px;
    }
}
/* end about us section */
/* start stats section */
.stats{
    background-image: url(../image/stats.png);
    position: relative;
    background-size: cover;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.stats .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.stats .container .box{
    text-align: center;
    padding: 50px;
    color:white;
    background-color:#126983b4;

}
@media (max-width:768px) {
    .stats .container .box{
        padding: 30px;
        flex-basis: 100%;
    }
}
@media (min-width:767px){
    .stats .container .box{
        
        flex-basis: 50%;
    }
}
@media (min-width:1024px){
    .stats .container .box{
        
        flex-basis: calc(100% / 4);
    }
}
.stats .container .box i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.stats .container .box .count{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}
.stats .container .box p{
    font-size: 14px;
}
/* end stats section */
/* start  Testimonials section */
.testimonials{
    padding-bottom: var(--section-padding);
    padding-top:var(--section-padding) ;

}
.testimonials .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;

}
@media(min-width:1024px){
    .testimonials .container .testimonials-bart,
    .testimonials .container .skills-bart{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 45%;
}
}


.testimonials .container  h3{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    
}
.testimonials .container  h3+p{
    text-align: center;
    margin: 30px 0 ;
    line-height: 30px;
    color:#777 ;
}
.testimonials .container .testimonials-bart .box-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.testimonials .container .testimonials-bart .box-comments .comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.testimonials .container .testimonials-bart .box-comments .comment img{
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    
}
.testimonials .container .testimonials-bart .comment .content{
    border-bottom: 1px solid #777;
    padding-bottom:20px ;
}
.testimonials .container .testimonials-bart .comment .content p:nth-of-type(1){
    line-height: 25px;
}
.testimonials .container .testimonials-bart .comment .content p:nth-of-type(2){
    text-align: end;
    color: #777;
}
.testimonials .container .testimonials-bart .bullets{
    display: flex;
    gap: 5px;
    justify-content: center;
    list-style: none;
    margin-top: 40px;
}

.testimonials .container .testimonials-bart .bullets li{
    width: 15px;
    height: 15px;
    border: 2px solid #777;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.testimonials .container .testimonials-bart .bullets li.active{
    background-color: var(--main_color);
}

.testimonials .container .skills-bart .prog-holder h4{
    font-weight: normal;
    text-transform: uppercase;
}  
.testimonials .container .skills-bart .prog  {
    width: 100%;
    height: 30px;
    background-color: #DEDADC;
    margin: 25px 0;
}
.testimonials .container .skills-bart .prog span{
    background-color:var(--main_color);
    height: 100%;
    display: block;
    position: relative;
}
.testimonials .container .skills-bart .prog span::before{
    content: attr(data-progres);
    position: absolute;
    top: -130%;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    right: -18px;
    color: white;
    font-weight: bold;
}

.testimonials .container .skills-bart .prog span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    top: -11px;
    right: -5px;
}



/* end Testimonials section */
/* start quote section */
.quote{
    padding-bottom: var(--section-padding);
    padding-top:var(--section-padding) ;
    position: relative;
    background-image: url(../image/quote.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}
.quote::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
    
}
.quote .container q{
    position: relative;
    font-size: 30px;
}

.quote .container span{
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 18px;
}
/* end quote section */
/* start pricing section */
.pricing{
    padding-bottom:var(--section-padding) ;
    padding-top: var(--section-padding);
}

.pricing .container .box-prices{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 30px;    
}
.pricing .container .box-prices .pricing-card{
    text-align: center;
    background-color: #FCFCFC;
    
}
.pricing .container .box-prices .pricing-card .head{
    padding: 40px 15px;
    border-top:1px solid var(--main_color) ;
    border-bottom:1px solid var(--main_color) ;
   
}
.pricing .container .box-prices .pricing-card .head h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing .container .box-prices .pricing-card .head span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
}
.pricing .container .box-prices .pricing-card .head span::before{
    content: "$";
    position: relative;
    top: -20px;
    font-size:25px;
}
.pricing .container .box-prices .pricing-card .head span::after{
    content: "/mon";
    position: relative;
    font-size: 20px;
    right: -10px;

}

.pricing .container .box-prices .pricing-card ul{
    list-style: none;
}
.pricing .container .box-prices .pricing-card ul li{
    padding: 20px;
    position: relative;
}
.pricing .container .box-prices .pricing-card ul li:not(:last-child)::after{
    content: "";
    width: 50%;
    height: 1px;
    background-color: var(--main_color);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
    
.pricing .container .box-prices .pricing-card .foot{
    border-top:1px solid var(--main_color) ;
    
}
.pricing .container .box-prices .pricing-card .foot a{
    padding: 20px;
    display: block;
    text-decoration: none;
    border: 1px solid var(--main_color);
    margin: 30px auto;
    width: fit-content;
}
.pricing .contact-text{
    text-align: center;
    margin: 50px auto 20px;
}
.pricing .contact-text p{
    
    font-size: 20px;
}
.pricing .contact-text a{
    text-decoration: none;
    width: fit-content;
    background-color: var(--main_color);
    margin: 20px auto;
    display: block;
    color: white;
    padding: 15px 30px;
}

/* end pricing  section */
/* start  subscribe section */
.subscribe{
    padding-bottom: var(--section-padding);
    padding-top:var(--section-padding) ;
    background-image: url(../image/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;

}
@media(max-width:991px){
    .subscribe .container{
        flex-direction: column;
    }
}


.subscribe form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;

}
.subscribe form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.subscribe form input[type="email"]{
    border: 1px solid white;
    background:none ;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main_color);
    width: calc(100% - 130px);
    border-right: none;   
}
.subscribe form input[type="submit"]{
    width: 130px;
    background-color: var(--main_color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-right: none;
    
}
.subscribe form input:focus{
    outline: none;
}
.subscribe form ::placeholder{
    color: white;
} 
.subscribe p {
    line-height: 2;
    margin-left: 50px;
}
@media(max-width:991px){
    .subscribe p{
        text-align: center;
        margin: 30px 0 0 ;
    }

}
/* end  subscribe section */
/*start contact section */
.contact{
    padding-bottom:var(--section-padding) ;
    padding-top:var(--section-padding) ;
}
.contact .content{
    display: flex;
    justify-content: space-between;
    
    
}
@media(max-width:767px){
    .contact .content{
        flex-direction: column;
        
    }
}
.contact .content form{
    flex-basis: 70%;
}
.contact .content form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
    
}
.contact .content form .main-input:focus{
    outline: none;
}
.contact .content form textarea.main-input{
    height: 200px;

}
.contact .content form input[type="submit"]{
    color: white;
    background-color: var(--main_color);
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;

}
.contact .content .info{
    flex-basis: 25%;
}

@media(max-width:767px){
    .contact .content .info{
        order: -1;
        text-align: center;

        
    }
}
.contact .content .info h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone{
    display: block;
    color: #777;
    margin-bottom: 10px;

}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 100px;
}

@media(max-width:767px){
    .contact .content .info h4:nth-of-type(2){
        margin-top: 30px;
    }
}
.contact .content .info address{
    color: #777;
    line-height: 2;
}

@media(max-width:767px){
    .contact .content .info address{
        margin-bottom: 30px;
    }
}
/*start contact section */
/*start footer section */
footer{
    padding-bottom:calc(var(--section-padding)/2) ;
    padding-top:calc(var(--section-padding)/2) ;
    background-image: url(../image/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}
footer .container {
    position: relative;
}
footer img{
margin-bottom: 20px;

}
footer p:not(.copyright){
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto ;
}
footer .social-icon i{
    padding: 10px 15px;
}
footer .copyright{
    margin-top: 60px;
}
footer .copyright span{
    font-weight: bold;
    color: var(--main_color);
}
/*end  footer section */
